{name, "sendfile"}.
{description, "Erlang sendfile() linked-in driver"}.
{homepage, "https://github.com/tuncer/sendfile"}.
{url, {git, "https://github.com/tuncer/sendfile.git", {branch, "master"}}}.
{authors, ["Steve Vinoski <vinoski@ieee.org>",
           "Tuncer Ayaz <tuncer.ayaz@gmail.com>"]}.
{license, "BSD", "LICENSE"}.
{rebar_compatible, true}.
{install_command, "$AGNER_PACKAGE_REPO/install.sh"}.
